<h1>People Helping People</h1>
<hr />

<%= link_to "Create New Person", new_people_path %>

<% @peoples.each do |person| %>
<h2> <%= person.first_name %> <%= person.last_name %>  </h2>
<%= link_to "Show Person", people_path(person.id) %>
<%= link_to "Edit Person", edit_people_path(person.id) %>
<%= link_to "Delete Person", people_path(person.id), method: :delete %> 


<% end %>
